<div class="hero-unit">
<div class="row">
	<div class="span7">
		<h1>Find your Job right now.</h1>
		<p>
			All over the world. We make it easy.
		</p>
	</div>
	<div class="span3">
		<p>
			<a href="/#search"><img src="img/button_connect.png" /></a>
		</p>
	</div>
</div>
</div>

<div class="row">
	<div class="span4" style="background-color: #DEE9EE">
		<p>
			<img src="img/home.heading1.png">
		</p>
	</div>
	<div class="span4" style="background-color: #DEE9EE">
		<p>
			<img src="img/home.heading2.png">
		</p>
	</div>
	<div class="span4" style="background-color: #DEE9EE">
		<p>
			<img src="img/home.heading3.png">
		</p>
	</div>
</div>