<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="/"><img src="img/logo.png"></a>
		</div>
	</div>
</div>

<div class="page">

	LOADING...

</div>

<hr></hr>
<footer class="footer">&copy; H-rapido 2012, all rights reserverd.</footer>
