<div class="row">
<div id="jobseeker" class="span12">
</div>
</div>
<div class="row">
	<div class="span12">
		<div id="search"></div>
	</div>
</div>
<div class="row-fluid">
	<div id="results" class="span6">
		<img src="img/arrowresults.png" />
	</div>
	<div class="span6">
		<div id="map"></div>
	</div>
</div>