<form class="form-inline">
	<div class="row">
		<div class="span5">
			<div class="control-group">	
				<label class="control-label" for="w" class="input-xlarge">What</label>
				<div class="controls">
					<input id="w" name="w" type="text" placeholder="job title, skills, company, etc." class="input-xlarge">
				</div>
			</div>
		</div>
		<div class="span5">
			<div class="control-group">	
				<label class="control-label" for="l" class="input-xlarge">Where</label>	
				<div class="controls">
					<input id="l" name="l" type="text" placeholder="city, county, state or ZIP code" class="input-xlarge">
				</div>
			</div>
		</div>
		<div class="span2">
			<div class="control-group">
				<label class="control-label" class="input-xlarge">&nbsp;</label>	
				<div class="controls">
					<button class="btn btn-warning">Find it now!</button>
				</div>
			</div>
		</div>
	</div>
</form>