/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section
	{
	display: block;
}

audio,canvas,video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

audio:not ([controls] ) {
	display: none;
}

[hidden] {
	display: none;
}

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

html,button,input,select,textarea {
	font-family: sans-serif;
	color: #222;
}

body {
	margin: 0;
	font-size: 1em;
	line-height: 1.4;
}

::-moz-selection {
	background: #fe57a1;
	color: #fff;
	text-shadow: none;
}

::selection {
	background: #fe57a1;
	color: #fff;
	text-shadow: none;
}

a {
	color: #00e;
}

a:visited {
	color: #551a8b;
}

a:hover {
	color: #06e;
}

a:focus {
	outline: thin dotted;
}

a:hover,a:active {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,strong {
	font-weight: bold;
}

blockquote {
	margin: 1em 40px;
}

dfn {
	font-style: italic;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

ins {
	background: #ff9;
	color: #000;
	text-decoration: none;
}

mark {
	background: #ff0;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

pre,code,kbd,samp {
	font-family: monospace, serif;
	_font-family: 'courier new', monospace;
	font-size: 1em;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

q {
	quotes: none;
}

q:before,q:after {
	content: "";
	content: none;
}

small {
	font-size: 85%;
}

sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

ul,ol {
	margin: 1em 0;
	padding: 0 0 0 40px;
}

dd {
	margin: 0 0 0 40px;
}

nav ul,nav ol {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
}

svg:not (:root ) {
	overflow: hidden;
}

figure {
	margin: 0;
}

form {
	margin: 0;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

label {
	cursor: pointer;
}

legend {
	border: 0;
	*margin-left: -7px;
	padding: 0;
	white-space: normal;
}

button,input,select,textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle;
}

button,input {
	line-height: normal;
}

button,input[type="button"],input[type="reset"],input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
	*overflow: visible;
}

button[disabled],input[disabled] {
	cursor: default;
}

input[type="checkbox"],input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
	*width: 13px;
	*height: 13px;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button
	{
	-webkit-appearance: none;
}

button::-moz-focus-inner,input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
	resize: vertical;
}

input:valid,textarea:valid {
	
}

input:invalid,textarea:invalid {
	background-color: #f0dddd;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td {
	vertical-align: top;
}

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: black;
	padding: 0.2em 0;
}

/* ===== Primary Styles ========================================================
   Author: davide.ungari@jobrapido.com
   ========================================================================== */
body {
	color: #282828;
	background: #f3f3f1 url(../img/bg-noise.png) repeat;
  	padding-top: 99px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

.container {
	height: 100%;
	position: relative
}

.navbar {margin:0}
.navbar .brand {
  display: block;
  float: left;
  padding: 0px 20px 0px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  line-height: 1;
  color: #999999;
}

.navbar .navbar-inner {
background: #2B3A42;
}

.hero-unit {
padding: 60px;
margin-bottom: 30px;
background-color: #BDD4DE;
}

.hero-unit h1 {
margin-bottom: 0;
font-size: 36px;
line-height: 1;
letter-spacing: -1px;
color: inherit;
line-height: 38px;
}

.description {
font-size: 0.8em;
margin:0;
}
.footer {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 13px;
line-height: 18px;
color: #333;
}
#search {
margin: 40px 0;
}
#search input, #search button {
width: 100%;
font-size: 18px;
}
#search input{
height: 32px;
}
#search button {
line-height: 32px;
}

#jobseeker {
background: #bdd4de;
padding: 20px 0;
}

#jobseeker .skills, #jobseeker .skills li {
	display: inline;
	list-style: none;
	padding: 0;
}

#map {
	width: 100%;
	height: 450px;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.50);
	-webkit-box-shadow : 0px 0px 15px 0px rgba( 0, 0, 0,0.50);
}

#map .map_canvas {
	width: 100%;
	height: 400px;
}

#map .header {
	background-color: #2B3A42;
	color: white;
	padding: 10px;
}

#results ul, #results li {
	list-style : none;
	margin: 0;
	padding: 0;
}

#results li {
margin-bottom:16px;
transition: scale 2s;
-moz-transition: scale 2s; /* Firefox 4 */
-webkit-transition: scale 2s; /* Safari and Chrome */
-o-transition: scale 2s; /* Opera */
}

#results li.sendFront {
-moz-transform: scale(1.05);
-webkit-transform: scale(1.05);
-o-transform: scale(1.05);
-ms-transform: scale(1.05);
transform: scale(1.05);
}


#results .header {
	background-color: #BDD4DE;
	color: #333;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.50);
	-webkit-box-shadow : 0px 0px 15px 0px rgba( 0, 0, 0,0.50);
}

#results .header h2 {
line-height: 40px;
font-size: 22px;
font-weight: normal;
height: 30px;
overflow: hidden;
text-overflow: ellipsis;
color: #333;
}
#results .header p.address {
line-height: 20px;
font-size: 10px;
font-weight: normal;
height: 20px;
overflow: hidden;
text-overflow: ellipsis;
color: #333;
}

#results .content {
	background-color: light-grey;
	margin: 1px 0 15px 0;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.50);
	-webkit-box-shadow : 0px 0px 15px 0px rgba( 0, 0, 0,0.50);
}

#results .adverts li{
	padding: 7px;
	margin: 5px;
}

#results .adverts a {
	color: #333;
	text-decoration: underline;
}

#results .adverts a:hover {
	color: #f30;
}

#results .button {
background: white;
border: none;
height: 60px;
width: 100%;
}

#results .logo{
	background-color: white;
	background-repeat: no-repeat;
	background-position: center;
	height:60px;
	width:60px;
}

#results .twitter-mentions {
	position: relative;
	left: 42px;
}

#results .twitter {
	background-image:url("../img/twt.png");
	background-position: center;
	background-repeat: no-repeat;
	color: gray;
	width: 42px;
}

#results .website {
	background-image:url("../img/web.png");
	background-position: center;
	background-repeat: no-repeat;
	color: gray;
	width: 42px;
}

#results .btn {
height: 42px;
margin: 8px;
}

/* =============================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */
.ir {
	display: block;
	border: 0;
	text-indent: -999em;
	overflow: hidden;
	background-color: transparent;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr;
	*line-height: 0;
}

.ir br {
	display: none;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

/* =============================================================================
   Print Styles
   ========================================================================== */
@media print {
	* {
		background: transparent !important;
		color: black !important;
		box-shadow: none !important;
		text-shadow: none !important;
		filter: none !important;
		-ms-filter: none !important;
	} /* Black prints faster: h5bp.com/s */
	a,a:visited {
		text-decoration: underline;
	}
	a[href]:after {
		content: " (" attr(href) ")";
	}
	abbr[title]:after {
		content: " (" attr(title) ")";
	}
	.ir a:after,a[href ^="javascript:"]:after,a[href ^="#"]:after {
		content: "";
	} /* Don't show links for images, or javascript/internal links */
	pre,blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group;
	} /* h5bp.com/t */
	tr,img {
		page-break-inside: avoid;
	}
	img {
		max-width: 100% !important;
	}
	@page {
		margin: 0.5cm;
	}
	p,h2,h3 {
		orphans: 3;
		widows: 3;
	}
	h2,h3 {
		page-break-after: avoid;
	}
}